    
<section id="home-heading" class="p-i">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1 class="display-3 font-weight-bold">Service Experts in Patna</h1>
                    <h4 class="">
                            Get instant access to reliable and affordable services
                    </h4>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <form action="" class="p-5">
                                        <input type="text" class="form-control" value="Type your Service">
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>